.likedSong{
    /* padding: 20px; */
    margin: 20px;
    min-width: 60%;
    max-width: 60%;
    height: 500px;
    margin-left: 20%;
    margin-right: 20%;
}

.topSong{
    min-width: 75%;
    max-width: 75%;
    margin-left: 12%;
    margin-right: 20%;
}

.songCard {
    margin: 20px;
    height: 200px;
}

.index {
    padding-top: 150%;
}

.topSongDescription{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8983D1;
    color: #fff;
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s, visibility .2s;
}

.topSongName{
    /* float: left;
    width: 60%;
    text-align: center;
    justify-content: center; */
    padding-top: 15%;
    padding-left: 15%;
}

.topSong:hover .topSongDescription {
    visibility: visible;
    opacity: 0.9;
  }

.leftBuffer{
    float:left;
    min-width: 20%;
    max-width: 20%;
    /* border-style: dotted; */
}

.righttBuffer{
    float:right;
    min-width: 20%;
    max-width: 20%;
    /* border-style: dashed; */
}